body {
  overflow-x: hidden;
}

#title {
  color: white;
  font-size: 100px;
  width: 100vw;
  text-align: left;
  font-family: Georgia;
  margin: 0px;
  padding: 0px;
  margin-top: 120px;
  margin-left: 150px;
}

#desc {
  color: white;
  font-size: 32;
  margin-left: 8vw;
}

#line {
  color: white;
  background-color: white;
  height: 4px;
  border-width: 0px;
  width: 85vw;
  margin-left: 150px;
}

#background {
  background-color: #9DEEEE;
  width: 100vw;
  height: 500px;
  left: 0px;
  padding: 0px;
  top: -20px;
  position: absolute;
  z-index: -1;
}

#polarization {
  margin-top: 250px;
  font-size: 75px;
  margin-left: 8vw;
}

#polarization-paragraph {
  font-size: 32px;
  margin-left: 8vw;
  margin-top: -50px;
  width: 40vw;
}

#polarized-filter-gif {
  margin-top: -500px;
  margin-left: 45vw;
  width: 50vw;
  height: auto;
}

#line2 {
  color: #9DEEEE;
  background-color: #9DEEEE;
  height: 4px;
  border-width: 0px;
  width: 70vw;
  margin-left: 150px;
}

#polarized-lenses {
  margin-top: 60px;
  font-size: 75px;
  margin-left: 8vw;
}

#polarized-lenses-paragraph {
  font-size: 32px;
  margin-left: 8vw;
  margin-top: -50px;
  width: 40vw;
}

#polarized-lenses-image {
  margin-top: -500px;
  margin-left: 55vw;
  width: 40vw;
  height: auto;
}

#background2 {
  background-color: #9DEEEE;
  width: 100vw;
  height: 500px;
  left: 0px;
  padding: 0px;
  top: 1700px;
  position: absolute;
  z-index: -1;
}

#omniphotics-science {
  color: white;
  font-size: 100px;
  width: 100vw;
  text-align: left;
  font-family: Georgia;
  margin: 0px;
  padding: 0px;
  margin-top: 175px;
  margin-left: 150px;
}

#randomBullshit {
  color: white;
  font-size: 32px;
  margin-left: 8vw;
}
