body {
  overflow-x: hidden;
}

#home {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  background-image: url("/images/home-icon.png");
  background-size: contain;
  width: 4vw;
  height: 3.5vw;
}

#home:focus {
  border: none;
  outline: none;
}

#title {
  color: white;
  font-size: 5vw;
  width: 100vw;
  text-align: left;
  font-family: Georgia;
  margin: 0px;
  margin-top: 2vw;
  margin-left: 8vw;
}

#desc {
  color: white;
  font-size: 2vw;
  margin-left: 8vw;
}

#line {
  color: white;
  background-color: white;
  height: 4px;
  border-width: 0px;
  width: 85vw;
  margin-left: 8vw;
}

#background {
  background-color: #AADDFF;
  width: 100vw;
  height: 25vw;
  left: 0px;
  padding: 0px;
  top: -20px;
  position: absolute;
  z-index: -1;
}

.header {
  margin-top: 11vw;
  font-size: 4vw;
  margin-left: 8vw;
}

.paragraph {
  font-size: 1.8vw;
  margin-left: 8vw;
  margin-top: -2vw;
  width: 80vw;
}

.line2 {
  color: #AADDFF;
  background-color: #AADDFF;
  height: 0.2vw;
  border-width: 0px;
  width: 70vw;
  margin-left: 8vw;
}

.marker {
  height: 0px;
  width: 0px;
  position: absolute;
  right: 0;
  margin-top: 12vw;
  margin-right: -4.5vw;
  border-top: 3vw solid transparent;
  border-bottom: 3vw solid transparent;
  border-left: 3vw solid black;
}

.pointer {
  background-color: rgba(0, 0, 0, 0);
  height: 30vw;
  width: 30vw;
  position: absolute;
  border: 2vw solid black;
  margin-left: 32vw;
  margin-top: 3vw;
  border-radius: 50%;
  z-index: 2;
}

#still {
  background-color: rgba(0, 0, 0, 0.2);
  height: 30vw;
  width: 30vw;
  position: absolute;
  border: 2vw solid black;
  margin-left: 32vw;
  margin-top: 3vw;
  border-radius: 50%;
  z-index: 1;
}

#drag-me {
  position: absolute;
  margin-top: 15vw;
  margin-left: 70vw;

  khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#background2 {
  background-color: #AADDFF;
  width: 100vw;
  height: 27vw;
  left: 0px;
  padding: 0px;
  margin-top: 5vw;
  z-index: -1;
  margin-left: -10px;
}

#omniphotics-technology {
  color: white;
  font-size: 5vw;
  width: 100vw;
  text-align: left;
  font-family: Georgia;
  margin: 0px;
  padding: 0px;
  margin-top: -23vw;
  margin-left: 8vw;
}

#randomBullshit {
  color: white;
  font-size: 1.8vw;
  margin-left: 8vw;
}

#logo {
  margin-top: -20vw;
  margin-left: 72vw;
  width: 20vw;
  height: auto;
  position: absolute;
}
